*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    
    text-align: center;
    margin: 20px;
}
p{
    font-size: 15px;
}
.logo{
    background-color: #f5f5f5;
    min-height: 50px;
    padding-top: 40px;
    
}
#principal{
    background: #ffffff;
    width: 80%;
    margin-top: 40px;
    padding: 20px;
    border-radius: 1%;
}

#logo{
    width: 20%;
    height: 30%;
}
#texto{
    margin-top: 40px;
    text-align: justify;
}

/*  ----- ----- Estilos para nav bar, boton activo  -----   -----   */
  .active{
    font-size: 17px;
    color: rgb(0, 0, 0);
    border-bottom: 5px solid rgba(0, 71, 32, 0.753);
  }


/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}